header{
    overflow: hidden;
    background-color: 224, 251, 252;
    padding: 20px 10px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}